# Report: Relationships for Source_Test_Results

**Caption:** Relationships for nmis_access  

## Section: ReportHeader

| Type | Name | Label/Caption | Bound to / Source | Row source | Events | Position (L,T,W,H in) |
|---|---|---|---|---|---|---|
| Label | Label7 | Relationships for Source_Test_Results |  |  |  | 0.00, 0.00, 2.21, 0.16 |
| Label | Label8 | Wednesday, May 17, 2000 |  |  |  | 0.00, 0.16, 1.35, 0.16 |

## Section: Detail

| Type | Name | Label/Caption | Bound to / Source | Row source | Events | Position (L,T,W,H in) |
|---|---|---|---|---|---|---|
| Line | Line0 |  |  |  |  | 2.05, 0.48, 0.12, 0.00 |
| Line | Line1 |  |  |  |  | 2.59, 0.47, 0.12, 0.00 |
| Line | Line2 |  |  |  |  | 2.17, 0.47, 0.42, 0.01 |
| ListBox | ecl0 | NMIS_SOURCE_TEST_RESULTS |  | "SOURCE_TEST_CN";"ID_ACTIVITY_CN";"SOURCE_CN";"DAYS_STRAT";"DAYS";"GERM_PCT";"" |  | 0.25, 0.41, 1.80, 1.40 |
| ListBox | ecl1 | NMIS_SOURCE_TESTS |  | "CN";"SOURCE_LOT_CN";"ID_ACTIVITY_CN";"GROSS_SOURCE_PER_UNIT";"STRATIFIED";"GERM_PCT";"TYPE_OF_TEST";"TEST_DOCUMENT";"PURITY_PCT";"MOISTURE_PCT";"FILLED_PCT";"TESTED_BY_ASSOCIATE";"TEST_DATE";"NOTE";"" |  | 2.72, 0.40, 2.01, 2.52 |
